apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-produto
spec:
  replicas: 20
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      annotations:        
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
      labels:
        app: api
    spec:
      containers:
      - name: api-produto
        image: rodrigoandrade08/api-produto
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
        env:
          - name: MONGODB_URI
            value: mongodb://mongouser:mongopwd@mongodb-service:27017/admin